.app-container {
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    background: var(--second-main-color);

    height: 80px;
}

.logo {
    height: 100%;
}

.header-logo {
    height: 100%;
}

.header-links {
    display: flex;
    list-style: none;
}

.header-link {
    margin-right: 10px;
    cursor: pointer;
}

.header-link:hover {
    color: var(--highliht-color)
}

.app-body {
    height: calc(100% - 100px);
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;

    overflow: auto;
}