.leaderboard-actionbar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.leaderboard-form-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.new-leaderboard-item-error {
    margin-top: 10px;
    margin-bottom: 10px;
}

.labeled-field {
    margin-right: 20px;
}

.labeled-field label {
    margin-right: 10px;
}

.leaderboard-item {
    height: 150px;
    border-radius: 5px;
    border: 1px solid var(--tiles-bg);

    margin-bottom: 20px;
    padding: 5px 15px;

    cursor: pointer;
}

.leaderboard-item:last-of-type {
    margin-bottom: 0;
}

.leaderboard-item-header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leaderboard-item-name {
    flex-grow: 1;
    flex-shrink:1;

    color: var(--highliht-color);
}

.leaderboard-item-header-actions {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-shrink:0;
    flex-grow: 0;
}

.leaderboard-item-description {
    margin-top: 10px;
}